@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border:1px solid red; */
}

html,
body {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-size: 22px;
    font-weight: 700;
    color: #33325f;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

p {
    font-size: 22px;
    font-weight: 400;
    color: #2b2b2b;
    width: 460px;
    line-height: 35px;
    margin: 0 0 5px 0;
}

a {
    text-decoration: none;
    /* color: white; */
}

.pink {
    color: #ff0161;
    font-weight: 700;
}

/* header */

header {
    width: 100%;
    position: absolute;
    z-index: 1;
    /* border: 1px solid red; */
}

.navbar{
    font-weight: 600;
    text-transform: uppercase;
    padding: 40px 150px 40px 150px;
    max-width: 1440px;
    margin: 0 auto;
}

.navbar-name a {
    font-size: 22px;
    color: white;
    float: left;
    /* border: 1px solid red; */
}

.navbar ul {
    list-style: none;
    /* border: 1px solid red; */

}

.navbar ul li a {
    font-size: 18px;
    color: white;
    float: right;
    /* border: 1px solid red; */
}

.work a{
     margin: 0 50px;
}



/* hero */

.hero {
    /* border: 2px solid red; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) , url('images/image.png');
    background-color: black;
    background-repeat: no-repeat;
    background-size:100% 100%;
    object-fit: fill;
    height: 100vh;
    position: relative;
}

.middle {
    /* border: 2px solid red; */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);

}

.middle h1 {
    font-size: 70px;
    font-weight: 700;
    color: white;
}

.middle p {
    font-size: 26px;
    font-weight: 400;
    margin: 0 auto;
    color: white;
}

button {
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    background-color: #00d5a6;
    border-radius: 3px;
    padding: 13px 55px;
    margin: 30px 0 0 0;
    border: none;
}

button:hover {
    cursor: pointer;
}


/* section white */

.white {
    
    max-width: 1440px;
    margin: 100px auto 100px auto;
    /* padding: 0 150px; */
    position: relative;
}

.div1 {
    /* border:1px solid red; */
    margin: 150px;
    overflow: auto;
    position: relative;
    
}

.img1 {
    /* border:1px solid red; */
    float: right;   
}

.info1 {
    /* border:1px solid red; */
    float: left;  
}

/* div2 */

.div2 {
    /* border:1px solid green; */
    margin: 150px;
    overflow:auto;
    position: relative;
}

.img2 {
    /* border:1px solid red; */
    float: left;

    
}

.info2 {
    /* border:1px solid red; */
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0%, 50%);
    
}

.topinfo2 {
    /* border:1px solid red; */
    border-bottom: 2px solid #773fa140;
    padding-bottom: 26px;
    width: 100%;

}

.bottomdiv {
    /* border:1px solid yellow; */
    padding-top: 26px;
    width: 100%;
    overflow:auto;
}

/* .bottominfo2 {
    border:1px solid red;  
} */

.bottominfo2 p {
    /* border:1px solid red; */
    font-size: 16px;
    line-height: 24px;
    float: left;
    width:370px;
    
}

.shape {
    /* border:1px solid red; */
    /* text-align: center; */
    float: right;
    
}


/* div3 */


.div3 {
    /* border:1px solid blue; */
    overflow:auto;
    position:relative;
    margin: 150px;
}

.img3 {
    /* border:1px solid red; */
    float: right;
}

.info3 {
    /* border:1px solid red; */
    float: left;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);

}


/* div3 */

.featurename ul {
    list-style-type: none;
    /* list-style-position: inside; */
}

.featurename ul li:before {

    content: '';
    display: inline-block;
    height: 29px;
    width: 29px;
    background-size: 15px;
    /* <a href="https://imgbb.com/"><img src="https://i.ibb.co/v4WHk1j/check-removebg-preview.png" alt="check-removebg-preview" border="0"></a> */
    background-image: url("https://i.ibb.co/v4WHk1j/check-removebg-preview.png");
    background-repeat: no-repeat;
    background-color: #00e3aa;
    border-radius: 50%;
    background-position: center center;
    margin: 5px;
    vertical-align: middle;
}

.featurename {
    font-size: 16px;
    margin-top: 20px;
}

.featureleft {
    float: left;
    margin-right: 30px;
}


/* footer */

.footer {
    border: 1px solid #e7e8ea;
    background-color: #fbfafc;
    margin-top: 200px;
    width: 100%;
    height: auto;
}

.footer-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

.footer1 {
    /* border: 1px solid red; */
    width: 100%;
    float: left;
    padding: 40px 0;
    position: relative;
    clear: both;
}



.footer-name {
    /* border:1px solid red; */
    padding-left: 150px;
    width: calc(100% / 3);
    float: left;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.footer-name a {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #282b31;
}

.footer-nav-left {
    /* border:1px solid red; */
    text-align: center;
    width: calc(100% / 3);
    float: left;
    position: absolute;
    top: 50%;
    transform: translate(100%, -50%);


}

.footer-nav-right {
    /* border:1px solid red;  */
    width: calc(100% / 3);
    float: right;
    padding-right: 150px;
   
}


.fa{
    color: #b9bdc3;
    float: right;
    width: 40px;
    height: 40px;
    padding: 12px;
    border: 1px solid #e7e8ea;
    border-radius: 6px;
    margin:0 1px;
    
}


.footer2 {
    /* border: 1px solid red; */
    width: 100%;
    border-top: 1px solid #e7e8ea;
    margin-top:10px;
    background-color: #f8f9fa;
    clear: both;

}

.footer2 p {
    /* border-top: 1px solid red; */
    padding-left: 150px;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    color: #999ea8;
    font-size: 11px;
    font-weight: 400;

}